In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

## Чтение данных

In [2]:
df = pd.read_csv("train.csv")
df.head(5)

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score,Credit Default
0,Own Home,482087.0,NaN,0.0,11.0,26.3,685960.0,1.0,NaN,1.0,debt consolidation,Short Term,99999999.0,47386.0,7914.0,749.0,0
1,Own Home,1025487.0,10+ years,0.0,15.0,15.3,1181730.0,0.0,NaN,0.0,debt consolidation,Long Term,264968.0,394972.0,18373.0,737.0,1
2,Home Mortgage,751412.0,8 years,0.0,11.0,35.0,1182434.0,0.0,NaN,0.0,debt consolidation,Short Term,99999999.0,308389.0,13651.0,742.0,0
3,Own Home,805068.0,6 years,0.0,8.0,22.5,147400.0,1.0,NaN,1.0,debt consolidation,Short Term,121396.0,95855.0,11338.0,694.0,0
4,Rent,776264.0,8 years,0.0,13.0,13.6,385836.0,1.0,NaN,0.0,debt consolidation,Short Term,125840.0,93309.0,7180.0,719.0,0

## Описание данных

#####    Home Ownership - домовладение
#####    Annual Income - годовой доход
#####    Years in current job - количество лет на текущем месте работы
#####    Tax Liens - налоговые обременения
#####    Number of Open Accounts - количество открытых счетов
#####    Years of Credit History - количество лет кредитной истории
#####    Maximum Open Credit - наибольший открытый кредит (максимальная сумма, которая когда-либо была доступна клиенту)
#####    Number of Credit Problems - количество проблем с кредитом
#####    Months since last delinquent - количество месяцев с последней просрочки платежа
#####    Bankruptcies - банкротства
#####    Purpose - цель кредита
#####    Term - срок кредита
#####    Current Loan Amount - текущая сумма кредита (сумма, которую еще предстоит выплатить клиенту)
#####    Current Credit Balance - текущий кредитный баланс (сумма, которую может тратить клиент с кредитного счета)
#####    Monthly Debt - ежемесячный долг
#####    Credit Score - баллы кредитного рейтинга
#####    Credit Default - факт невыполнения кредитных обязательств (0 - погашен вовремя, 1 - просрочка)

## Обработка данных

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Home Ownership                7500 non-null   object
 1   Annual Income                 5943 non-null   float64
 2   Years in current job          7129 non-null   object
 3   Tax Liens                     7500 non-null   float64
 4   Number of Open Accounts       7500 non-null   float64
 5   Years of Credit History       7500 non-null   float64
 6   Maximum Open Credit           7500 non-null   float64
 7   Number of Credit Problems     7500 non-null   float64
 8   Months since last delinquent  3419 non-null   float64
 9   Bankruptcies                  7486 non-null   float64
 10  Purpose                       7500 non-null   object
 11  Term                          7500 non-null   object
 12  Current Loan Amount           7500 non-null   float64
 13  Current Credit Balance        7500 non-null   float64
 14  Monthly Debt                  7500 non-null   float64
 15  Credit Score                  5943 non-null   float64
 16  Credit Default                7500 non-null   int64
dtypes: float64(12), int64(1), object(4)
memory usage: 996.2+ KB

отсутствует часть данных в:
    
    - Annual income;
    - Years in current job;
    - Month since last delinquent;
    - Credit Score